<%- include('layouts/boilerplate', { title: 'About', body: `
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Top 10 Walks</h2>
                    <p class="card-text">This page contains the top 10 walks.</p>
                </div>
            </div>
        </div>
    </div>
` }) %>
